/* width: "97%", height: "80vw", maxHeight: "80vh" */
.box-bar-chart {
  width: 97%;
  height: 80vw;
  max-height: 80vh;
}
@media only screen and (max-width: 768px) {
  .box-bar-chart {
    height: 60vh;
    max-height: 80vh;
  }
}
